* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
h1 {
  margin-bottom: 15px;

  font-size: 45px;
}
.main-div {
  max-width: 880px;

  margin: 20px auto;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.showerror {
  background-color: rgba(213, 56, 53, 0.654);
  font-size: large;
  letter-spacing: 0.5px;
  display: inline-block;
  font-weight: 600;
  width: 350px;
  animation: shake 0.2s;
  animation-iteration-count: 3;

  border-radius: 20px;
}

.input-div {
  display: flex;

  justify-content: center;
  align-items: center;

  margin-top: 20px;

  gap: 10px;
}

input[type="text"] {
  flex: 1;

  padding: 10px;

  border-radius: 7px;
  outline: none;
  border: 1px solid palevioletred;
}

input:focus {
  border: 1px solid palevioletred;
}

.add-btn {
  padding: 10px 15px;

  border-radius: 5px;

  border: none;
  background-color: palevioletred;

  color: white;
  font-weight: 600;
  cursor: pointer;
}

#updatebtnC {
  display: flex;
  gap: 10px;
}

.update-btn {
  background-color: rgb(112, 201, 68);
  border: grey;
  /* display: flex; */
  font-size: 18px;
  color: antiquewhite;
  width: 100px;
  margin-top: 10px;
  justify-content: flex-start;
  padding: 5px 10px;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;

  cursor: pointer;
}

.cancel-btn {
  background-color: rgba(128, 128, 128, 0.509);
  border: grey;
  /* display: flex; */
  font-size: 18px;
  color: antiquewhite;
  width: 100px;
  margin-top: 10px;
  /* justify-content: flex-start; */
  padding: 5px 10px;
  /* justify-content: center; */
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.list {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
}

.task-content {
  font-weight: 600;
  font-size: 18px;
}

.id {
  display: flex;

  flex: start;
  color: rgb(92, 119, 92);
}

.done {
  background-color: rgb(112, 201, 68);
  border: grey;
  display: flex;
  font-size: 14px;
  color: antiquewhite;
  width: 70px;
  margin-top: 10px;
  justify-content: flex-start;
  padding: 5px 10px;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.load {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: x-large;

  margin: 20px;
}
.edit {
  background-color: rgb(66, 135, 245);
  border: grey;

  font-size: 14px;
  color: antiquewhite;
  width: 70px;
  margin-top: 10px;
  justify-content: flex-start;
  padding: 5px 10px;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.Delete {
  background-color: rgb(245, 66, 69);
  border: grey;

  font-size: 14px;
  color: antiquewhite;
  width: 70px;
  margin-top: 10px;
  justify-content: flex-start;
  padding: 5px 10px;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.bt {
  display: flex;
  border: none;
  /*   
  width: 20px;
  margin-top: 10px;

  padding: 5px 7px; */
  justify-content: flex-end;
  /* font-weight: 600;
  border-radius: 5px; */
  cursor: pointer;
}
.xbtn {
  display: none;
  border: none;
  /*   
  width: 20px;
  margin-top: 10px;

  padding: 5px 7px; */
  justify-content: flex-end;
  /* font-weight: 600;
  border-radius: 5px; */
  cursor: pointer;
}

.done,
.edit,
.Delete {
  display: none;
}

.update-task {
  display: flex;

  gap: 10px;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, 0);
  }
  50% {
    transform: translate(3px, 0);
  }
  75% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
